
ProyectoTEC/.idea/vcs.xml
ProyectoTEC/.idea/caches/build_file_checksums.ser
ProyectoTEC/.idea/caches/build_file_checksums.ser
ProyectoTEC/.idea/caches/build_file_checksums.ser
ProyectoTEC/.idea/caches/build_file_checksums.ser
ProyectoTEC/app/src/main/AndroidManifest.xml
ProyectoTEC/app/src/main/AndroidManifest.xml
