<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyectotec.kevin.proyectotec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Zuper App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity  android:name=".MenuActivity"/>

        <activity
            android:name=".MiListaActivity"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity"/>
        </activity>
        <activity
            android:name=".UbicacionActivity"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity"/>
        </activity>
        <activity
            android:name=".OfertasActivity"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity"/>
        </activity>

        <activity
            android:name=".BuscarListaActivity"
            android:parentActivityName=".MiListaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MiListaActivity"/>
            </activity>
        <activity
            android:name=".NuevaListaActivity"
            android:parentActivityName=".MiListaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MiListaActivity"/>
        </activity>
        <activity
            android:name=".ModificarListaActivity"
            android:parentActivityName=".MiListaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MiListaActivity"/>
        </activity>
        <activity
            android:name=".EnviarListaActivity"
            android:parentActivityName=".MiListaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MiListaActivity"/>
        </activity>
        <activity
            android:name=".FotoFacturaActivity"
            android:parentActivityName=".MiListaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MiListaActivity"    />
        </activity>

        <activity
            android:name=".CategoriasActivity"
            android:parentActivityName=".NuevaListaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NuevaListaActivity"/>
        </activity>

        <activity
            android:name=".FrutasVerdurasActivity"
            android:parentActivityName=".CategoriasActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".CategoriasActivity"/>
        </activity>
        <activity
            android:name=".SalsasActivity"
            android:parentActivityName=".CategoriasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriasActivity"/>
        </activity>

        <activity android:name=".ListaActivity" />

        <activity
            android:name=".WalmartActivity"
            android:parentActivityName=".OfertasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OfertasActivity"/>
        </activity>


    </application>

</manifest>