<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyectotec.kevin.proyectotec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Zuper App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="Menu" />
        <activity
            android:name=".MiListaActivity"
            android:label="Mi Lista"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".UbicacionActivity"
            android:label="Ubicacion"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".ListaActivity"
            android:label="Mis productos"
            android:parentActivityName=".BuscarListaActivity" />
        <activity
            android:name=".OfertasActivity"
            android:label="Ofertas"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".NuevaListaActivity"
            android:label="Nueva Lista"
            android:parentActivityName=".MiListaActivity" />
        <activity
            android:name=".ModificarListaActivity"
            android:label="Modificar Lista"
            android:parentActivityName=".MiListaActivity" />
        <activity
            android:name=".EnviarListaActivity"
            android:label="Enviar Lista"
            android:parentActivityName=".MiListaActivity" />
        <activity
            android:name=".FotoFacturaActivity"
            android:label="Foto de Factura"
            android:parentActivityName=".MiListaActivity" />
        <activity
            android:name=".CategoriasActivity"
            android:label="Categorias"
            android:parentActivityName=".MiListaActivity" />
        <activity
            android:name=".FrutasVerdurasActivity"
            android:label=" Frutas y Verduras"
            android:parentActivityName=".CategoriasActivity" />
        <activity
            android:name=".SalsasActivity"
            android:label="Salsas"
            android:parentActivityName=".CategoriasActivity" />
        <activity
            android:name=".VistaModificarLista"
            android:label="Modificar Lista"
            android:parentActivityName=".ModificarListaActivity" />
        <activity
            android:name=".BuscarListaActivity"
            android:label="Buscar Lista"
            android:parentActivityName=".MiListaActivity"></activity>
        <activity
            android:name=".ProductosEnCarretaActivity"
            android:label="Productos en Carreta"
            android:parentActivityName=".ListaActivity">
        </activity>
    </application>

</manifest>